:root {
    /* COLORS */
    --font-color: #3C3C3B; /* Fox legs dark grey */
    --font-color-lighter: #5e5e5d;
    --background-color: #E3E3E3; /* Grey */
    --section-color: #F5F5F5; /* White */
    --button-color: #f6f3cf; /* Fox tail cream */
    --green-fox-light-green: #3CB878;
    --green-fox-dark-green: #007335;
    --green-fox-dark-red: #730d00;

    /* FONTS */
    --font-main: 'Roboto', sans-serif;
    --main-font-size: 17px;
    --main-font-size-smaller: 15px;
    --comment-font-size: 16px;
    --comment-font-size-smaller: 13px;
    /* SIZING */
    --main-page-size: 70%; /* 1024px */
    --left-side-size: 77.5%; /* 764px */
    --right-side-size: 20%; /* 242px */
}

/* GENERAL */

* {
    margin: 0;
    padding: 0;
    word-wrap: break-word !important;
}

a {
    color: var(--font-color);
    text-decoration: none;
}

input:focus {
    outline: none;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    color: var(--font-color);
    font-family: var(--font-main);
    font-size: 16px;
}

html, body {
    background-color: var(--background-color);
    font-family: var(--font-main);
    color: var(--font-color);
    font-size: var(--main-font-size);
}

/* DROPDOWN */
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    font-family: var(--font-main);
    cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 2%;
    background-color: var(--section-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    transition-duration: 2s;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        padding: 12px 16px;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        white-space: nowrap;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: var(--button-color)
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* WIDTHS */

.fourtyfour {
    width: 44px;
}

.eighteen {
    width: 18px;
}

/* HEADER */

header {
    background-color: var(--section-color);
    position: absolute;
    width: var(--main-page-size);
    height: 64px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 5000;
}

.header_left {
    width: 76%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.5%;
    position: relative;
}

.headers_logo {
    width: 10%;
}

.header_inputs {
    background-color: var(--background-color);
    font-family: var(--font-main);
    color: var(--font-color);
    border: none;
    border-radius: 10px;
    height: 32px;
    padding-left: 10px;
}

    .header_inputs:focus {
        outline: none;
    }

.header_subReddits_container {
    width: 30%;
}

#header_subReddits {
    width: 100%;
}

.header_search_container {
    position: relative;
    width: 60%;
}

#header_search {
    position: relative;
    width: 92.5%;
    padding-left: 7.5%;
}

#header_search_category {
    width: 25%;
    position: absolute;
    right: 0;
    top: 0;
}

#header_search_icon {
    position: absolute;
    left: 7px;
    top: 7px;
}

.header_right {
    width: var(--right-side-size);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.header_right_one {
    width: 30%;
    margin-left: -5%;
    flex-grow: 1;
}

.header_right_two {
    flex-shrink: 2;
    margin: -30%;
    width: 80%;
}

.header_right_three {
    width: 10%;
    margin-right: 5%;
    text-align: right;
    flex-grow: 1;
}

.header_right_content {
    width: 25%;
}

.header_icons {
    margin-right: 10%;
}

/* MAIN CONTENT */

main {
    position: absolute;
    width: var(--main-page-size);
    height: 100%;
    left: 50%;
    transform: translate(-50%);
    top: 85px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

/* SIDEBAR */

aside {
    position: relative;
    background-color: var(--section-color);
    width: var(--right-side-size);
    height: 631px;
    padding-top: 32px;
    display: flex;
    align-items: center;
    flex-direction: column;
    word-wrap: break-word;
}

.side_bar {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
    word-wrap: break-word;
}

.side_bar_left {
}

.side_bar_left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.side_bar_header {
    margin-bottom: 30px;
}

/* POSTS */

section {
    width: var(--left-side-size);
    height: 100%;
}

.not_button {
    border-radius: 10px;
}

.not_button, .sorting_button {
    width: 60px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.not_button, .selected_button {
    background-color: var(--button-color) !important;
}

.sorting_button {
    background-color: var(--section-color);
}

    .sorting_button:hover {
        background-color: var(--button-color);
    }

.bigger_button {
    width: 75px;
    height: 30px;
    margin: 5px;
}

.biggest_button {
    width: 170px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
}

.light_button {
    background-color: var(--background-color) !important;
}

.dark_button {
    border: var(--button-color) !important;
}

.section_intro, .section_intro_main {
    background-color: var(--section-color);
    height: 71px;
    margin-bottom: 20px;
    padding: 10px;
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
}

.section_intro {
    flex-direction: row;
}

.section_intro_main {
    flex-direction: column;
}

.section_intro_buttons {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.section_intro_button {
    margin-right: 20px;
}

article {
    background-color: var(--section-color);
    padding: 10px;
    padding-left: 15px;
    height: auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    word-wrap: break-word;
}

.article_text {
    width: 85%;
    margin-left: 2.5%;
    word-wrap: break-word;
}

.article_text_info {
    font-size: var(--main-font-size-smaller);
    color: var(--font-color-lighter);
}

.subreddit_sidebar_text {
    font-size: var(--main-font-size-smaller);
}

.article_left {
    width: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article_middle {
    width: 80%;
    word-wrap: break-word;
}

.article_right {
    width: 5%;
}

.article_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    word-wrap: break-word;
}

.article

.article_post_header {
    display: flex;
    justify-content: flex-start;
    margin-top: 5px;
    align-items: center;
}

.article_content {
    margin-top: 10px;
}

.article_footer {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.article_item {
    margin-top: 1%;
}

/* COMMENT */

.comment_number {
    margin-left: 5px;
}

.comment_container {
    flex-direction: column;
    font-size: var(--comment-font-size);
    margin-top: 1%;
    position: relative;
}

.comment_section {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    padding-left: 2%;
}

.button-disabled {
    display: none;
}

/* NEW POST */

.form_inputs {
    background-color: var(--background-color);
    font-family: var(--font-main);
    border: none;
    border-radius: 10px;
    height: 42px;
    width: 97.5%;
    padding-left: 10px;
    margin: 5px;
}

    .form_inputs:focus {
        outline: none;
    }

.postformcontainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.button-disabled {
    display: none;
}

.comments {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icon {
    margin-right: 5px;
    margin-bottom: 5px;
}

.postform {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.biginput {
    height: 142px;
}

.padding_input {
    padding: 1%;
}

.fileinput {
    height: auto !important;
}

.postform_buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.noheader {
    font-weight: lighter;
}

.comment_left {
    width: 15%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.comment_right {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2%;
}

.article_section {
    display: flex;
    flex-direction: column;
}

.sublevel {
    margin-left: 6%;
}

.comment_info {
    font-size: var(--comment-font-size-smaller) !important;
    color: var(--font-color-lighter);
}

.reply {
    margin-top: 1%;
    font-weight: bold;
}

.button-disabled {
    display: none;
}

.higher_input {
    height: 65px;
}

.end {
    display: flex;
    justify-content: flex-end;
}

/*SUBREDIT*/

.approveSubreddit {
    border-collapse: collapse;
    width: 100%;
}

    .approveSubreddit td, .approveSubreddit tr {
        border: 1px solid #ddd;
        padding: 1%;
        width: auto;
    }

        .approveSubreddit tr:nth-child(even) {
            background-color: #e3e3e3;
        }

    .approveSubreddit thead {
        font-weight: bold;
        padding: 1% 1%;
    }

    .approveSubreddit [type=submit] {
        border: 0px;
        background: none;
        font-size: var(--main-font-size);
        font-weight: bold;
        padding: 1% 1%;
        position: center;
    }

/*SUBREDIT*/

.login_form {
    display: block;
    margin: auto;
    margin-top: 8%;
    width: 580px;
    padding: 1% 1%;
    /*box-shadow: 1px 1px #C5BBFF;*/
    align-content: center;
    justify-content: center;
    background: snow;
}

.summary {
    margin: auto;
    margin-top: 1%;
    margin-bottom: -3%;
    padding: 1% 1% 1% 5%;
    width: 450px;
    color: #bb0000;
    align-content: center;
    justify-content: center;
    border-radius: 20px;
    background: rgba(255, 79, 79, 0.15);
}

.login_field {
    display: flex;
    margin: auto;
    margin-top: 2%;
    width: 450px;
    height: 25px;
    padding: 1% 3%;
    border: hidden;
    border-radius: 10px;
    font-size: 100%;
    background: #E3E3E3;
}

/*::placeholder {
    color: #474747;
    padding: 1% 4%;
}*/

.login_logo {
    display: inline;
    float: left;
    width: 10%;
}

.text-danger {
    font-size: 90%;
    color: rgba(252, 5, 5, 0.54);
    margin-left: 70px;
}

.login_title {
    white-space: nowrap;
    display: inline;
    padding: 5% 8%;
    font-size: 250%;
}

.login_header {
    display: inline-block;
    width: 100%;
    clear: both;
    padding: 5% 3%;
}

.login_button {
    display: flex;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 350px;
    padding: 1% 1%;
    font-size: 150%;
    cursor: pointer;
    outline: none;
    background-color: #C5BBFF;
    border: none;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.img_button {
    display: inline-flex;
    padding-left: 10%;
    margin-left: 16px;
    margin-top: 4%;
    margin-bottom: 3%;
    width: 80px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    background: none;
}

.login_button:hover {
    background-color: #8e7aff;
}

.login_button:active {
    background-color: #8e7aff;
    box-shadow: 0 0.1px #474747;
    transform: translateY(1px);
}

.main_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main_menu_intro, .main_menu_post {
    background-color: snow;
    width: 50%;
    padding: 10px;
}

.main_menu_intro {
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}

.main_menu_post {
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: space-around;
}

.main_menu_post_left, .main_menu_post, .post_header, .main_menu_buttons {
    display: flex;
}

.post_text {
    margin-left: 2.5%;
}

.main_menu_post_left {
    width: 5%;
    flex-direction: column;
    align-items: center;
    margin-left: 5px;
}

.main_menu_post_right {
    width: 80%;
    margin-right: 10%;
}

.post_header {
    justify-content: space-between;
}

.main_menu_button {
    margin-right: 5px;
    margin-left: 10px;
    border-radius: 5%;
    background-color: lightgreen;
    width: 50px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_menu_buttons {
    margin-top: 5px;
}

.post_content {
    margin-top: 10px;
}

.post_footer {
    margin-top: 15px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.create_post {
    display: flex;
    align-items: center;
    padding-right: 15px;
}

.about_subreddit {
    padding-left: 2px;
    padding-right: 2px;
}

.no_bottom_margin {
    margin-bottom: 2px !important;
}

.text_center {
    text-align: center;
}

.members {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.between {
    margin-right: 2px;
    margin-left: 2px;
}

.after_header {
    padding-left: 2px;
    margin-bottom: 12px;
}

.text_about {
    margin-right: 4px !important;
    margin-left: 4px !important;
}

.subreddit_info {
    width: 100%;
}

.subreddit_end {
    width: 75%;
    position: absolute;
    bottom: 10px;
    text-align: center;
    font-size: var(--main-font-size-smaller);
}

.show_reply {
    cursor: pointer;
}

.button_onleft {
    justify-content: flex-start !important;
    align-items: flex-start !important;
}

.search_margin {
    margin-left: 4px;
}

.search_header {
    margin-bottom: 6px;
}

/* Pagination */
.pagination {
    background-color: var(--section-color);
    padding: 2%;
}
.currentPage {
    background-color: var(--button-color);
    border-radius: 10%;
    border: 1px solid var(--font-color-lighter);
    padding: 0.5%;
    font-weight: bold;
    font-size: 1vw;
}
  
/*VOTES*/
i {
    cursor: pointer !important;
}

.green {
    color: var(--green-fox-dark-green);
}

.red {
    color: var(--green-fox-dark-red);
}

.view_change {
    text-align: right !important;
    margin-bottom: 1%;
    font-size: var(--main-font-size-smaller);
    color: var(--font-color-lighter);
}