* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-rendering: optimizeLegibility;
    line-height: 1.6;
    background-color: #c0c0c0;
}

.container {
    width: 80vw;
    margin: 0 auto;
}

.navbar {
    height: 40px;
    background-color: white;
    margin-bottom: 1rem;
}

.wrapper {
    display: grid;
    grid-template-columns: 9fr 3fr;
    grid-gap: 1rem;
    grid-auto-rows: minmax(100px, auto);
}

div.content {
    grid-column: 1/2;
    background-color: white;
}

div.sidebar {
    grid-column: 2;
    grid-row: 1/12;
    background-color: white;
}


