@using Foxxit.Models.ViewModels
@model MainPageViewModel

@{Layout = "_Layout";}

<header>
    @await Html.PartialAsync("_HeaderViewPartial")
</header>

<main>
    <aside>
        @await Html.PartialAsync("_SideBar_SubRedditsJoinViewPartial")
    </aside>

    <section>
        @await Html.PartialAsync("_Account_PasswordChange", Model.PasswordChangeViewModel)
    </section>
</main>