@using Foxxit.Models.ViewModels
@model MainPageViewModel

@{Layout = "_Layout";}

<header>
    @await Html.PartialAsync("_HeaderViewPartial")
</header>

<main>
    <aside>
        @await Html.PartialAsync("_SideBar_SubRedditInfoViewPartial", Model.CurrentSubReddit)
    </aside>

    <section>
        @await Html.PartialAsync("_NewPostPartial")
    </section>
</main>