@{Layout = "_Layout";}
@using Foxxit.Models.ViewModels
@model MainPageViewModel

<header>
    @await Html.PartialAsync("_HeaderViewPartial")
</header>

<main>
    <aside>
        @await Html.PartialAsync("_SideBar_SubRedditsViewPartial", Model.SubReddits)
    </aside>

    <section>
        @await Html.PartialAsync("_MainPageViewPartial")
    </section>
</main>