@using Foxxit.Models.ViewModels
@model SubRedditViewModel

@{Layout = "_Layout";}

<header>
    @await Html.PartialAsync("_HeaderViewPartial", Model.HeaderViewModel)
</header>

<main>
    <aside>
        @await Html.PartialAsync("_SideBar_SubRedditInfoViewPartial", Model.SubReddit)
    </aside>

    <section>
        @await Html.PartialAsync("_SubRedditPartial")
    </section>
</main>