@using Foxxit.Models.DTO
@model SearchReturnModel

<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Created By</td>
            <td>About</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var subreddit in Model.SubReddits)
        {
            <tr>
                <td>@subreddit.Name</td>
                <td>@subreddit.CreatedById</td>
                <td>@subreddit.About</td>
            </tr>
        }
    </tbody>
</table>
