@using Foxxit.Models.Entities
@model IEnumerable<SubReddit>

<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>About</td>
            <td>Created By</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var subreddit in Model)
        {
        <tr>
            <td>@subreddit.Name</td>
            <td>@subreddit.About</td>
            <td>@subreddit.Members</td>
        </tr>
        }
    </tbody>
</table>
