<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="robots" content="noindex, nofollow">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The hottest viral events">
    <meta name="keywords" content="Foxxit, viral, social platform, posts">
    <meta name="author" content="Microtis Saga/Fullstack team">
    <title>Foxxit</title>
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css">
</head>
<body>
    <header>

        <div class="container">
            <div class="wrapper">
                <div class="content">Content</div>
                <div class="sidebar">sidebar</div>
            </div>
        </div>
    </header>

</body>
</html>
