@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Foxxit</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        @await Html.PartialAsync("_HeaderViewPartial")
    </header>

    <main>
        @await Html.PartialAsync("_ContentViewPartial")
    </main>

    <footer>
    </footer>
</body>
</html>