@using Foxxit.Models.ViewModels
@model MainPageViewModel

<div class="section_intro_main">
    <h2>Welcome to Foxxit</h2>
    @await Html.PartialAsync("_MainPageIntroViewPartial", Model)
</div>

@foreach (var post in Model.Posts)
{
    Model.PostViewModel.Post = post;
    @await Html.PartialAsync("_PostPartial", Model.PostViewModel)
}

<div class="pagination">
    @await Html.PartialAsync("_PaginationPartial", Model.Posts) 
</div>