@using Foxxit.Models.ViewModels
@using Foxxit.Extensions
@model MainPageViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="section_intro_main">
    <h2>Welcome to Foxxit</h2>
    <div class="section_intro_buttons">
        <div class="not_button section_intro_button">@Html.ActionLink("HOT", "ListHotTopics", "Home")</div>
        <div class="not_button section_intro_button">@Html.ActionLink("NEW", "ListNewTopics", "Home")</div>
        <div class="not_button section_intro_button">@Html.ActionLink("TOP", "ListTopTopics", "Home")</div>
    </div>
</div>

@foreach (var post in Model.Posts)
{
    Model.PostViewModel.Post = post;
    @await Html.PartialAsync("_PostPartial", Model.PostViewModel)
}