@using Foxxit.Models.Entities;
@using Foxxit.Extensions;
@model SubReddit

    @{ var displayName = Model.CreatedBy.UserName.ShortenDisplayName();}

    <h3 class="side_bar_header no_bottom_margin">About this subreddit</h3>

    <h5 class="comment_info text_center">Created by @displayName</h5>

    <div class="members"><i class="fa fa-users"></i><div class="between"></div><h4>Members: @Model.Members.Count</h4></div>

    <div class="subreddit_info">
        <p class="subreddit_sidebar_text text_center text_about">@Model.About</p>
    </div>