@using Foxxit.Models.Entities
@model IEnumerable<SubReddit>

<h3 class="side_bar_header">Trending SubReddits</h3>

@foreach (var subReddit in Model)
{
    <div class="side_bar">
        <div class="side_bar_left">
            <p><a href="/SubReddit?subRedditId=@subReddit.Id">@subReddit.Name</a></p>
        </div>

        <div class="side_bar_right">
            <div class="not_button"><a asp-action="JoinSubReddit" asp-controller="SubReddit" asp-route-subRedditId="@subReddit.Id">JOIN</a></div>
        </div>
    </div>
}