@using Foxxit.Models.Entities
@model SubReddit

<h3 class="side_bar_header">@Model.Name</h3>
<p>Created by @Model.CreatedByUserName</p>
    <div class="side_bar">
        <div class="side_bar_left">
            <p>Members: @Model.Members.Count</p>
        </div>
        <p>@Model.About</p>
    </div>