@using Foxxit.Models.ViewModels
@model MainPageViewModel

<h3 class="side_bar_header">Trending SubReddits</h3>

@foreach (var subReddit in Model.SubReddits)
{
    <div class="side_bar">
        <div class="side_bar_left">
            @subReddit.Name
        </div>

        <div class="side_bar_right">
            <div class="not_button">@Html.ActionLink("JOIN", "JoinSubReddit", "Home", new { subRedditId = subReddit.Id })</div>
        </div>
    </div>
}