@using Foxxit.Models.Entities;
@model PostBase

<div class="article_left" id="voting_@Model.Id">
    <div class="post_vote" data-value="1" data-postBaseId="@Model.Id">
        
            <i class="fa fa-chevron-up fa-lg" id="upvote_@Model.Id"></i>
        
    </div>
    <div class="post_vote" id="karma_@Model.Id">@Model.Karma</div>

    <div class="post_vote" data-value="-1" data-postBaseId="@Model.Id">
        
            <i class="fa fa-chevron-down fa-lg" id="downvote_@Model.Id"></i>
    </div>
</div>