@using Foxxit.Models.Entities;
@using Foxxit.Controllers;
@model PostBase
@inject Microsoft.AspNetCore.Identity.UserManager<User> userManager;
@inject Foxxit.Services.Interfaces.IVoteService voteService;

@{ 
    var userId = userManager.GetUserId(User);
    var user = userManager.FindByIdAsync(userId);
    var currentVote = voteService.GetVote(user.Id, Model.Id);
}

<div class="article_left" id="voting_@Model.Id">
    <div class="post_vote" data-value="1" data-postBaseId="@Model.Id">
        @if (currentVote is not null && currentVote.Value is 1)
        {
            <i class="fa fa-chevron-up fa-lg red" id="upvote_@Model.Id"></i>
        }
        else
        {
            <i class="fa fa-chevron-up fa-lg" id="upvote_@Model.Id"></i>

        }

    </div>

    <div class="post_vote" data-value="-1" data-postBaseId="@Model.Id">

        @if (currentVote is not null && currentVote.Value is -1)
        {
            <i class="fa fa-chevron-down fa-lg red" id="downvote_@Model.Id"></i>
        }
        else
        {
            <i class="fa fa-chevron-down fa-lg" id="downvote_@Model.Id"></i>

        }
    </div>
</div>